<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net40" />
  <package id="TikaOnDotnet" version="1.16.0" targetFramework="net461" />
  <package id="TikaOnDotnet.TextExtractor" version="1.16.0" targetFramework="net461" />
</packages>